body,html{
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      height: 100%;
      
}
.container{
      background:linear-gradient(135deg, #0e64e6 , #1959c0 );
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

     
}
.cotent{
     text-align: center;
     background-color: rgba(255, 255, 255, 0.8);
      padding: 2rem;

}
.logo{

      width: 150px;
    
      object-fit: contain;
}
body,html{
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      height: 100%;
}

.container{
      background:linear-gradient(135deg, #0e64e6 , #1959c0 );
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.cotent{
     text-align: center;
     background-color: rgba(255, 255, 255, 0.8);
     padding: 2rem;
}

.logo{
      width: 150px;
      object-fit: contain;
}